html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    background-color: #1f1f1f;
    overflow-x: clip;
}

header {
    position: fixed;
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%;
    height: 3vh;
}

.nav-bar {
    margin: 0 auto;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #161616;
}

.nav-home {
    text-decoration: none;
}

#home-logo {
    font-size: 2em;
    text-transform: uppercase;
    color: wheat;
    letter-spacing: 5px;
}



::selection {
    background-color: black;
    color: white;
}

.profile-picture {
    text-align: center;
}

#profile {
    width: 10%;
    height:auto;
    border-style: solid;
    border-width: 2px;
}

.nav-items {
    text-decoration: none;
    color: rgb(180, 180, 180);
    letter-spacing: 2px;
    transition: color 200ms ease-in-out, text-shadow 100ms ease-in;
    padding-left: 15px;
    padding-right: 15px;
}

.icon-link {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 5px; 
    
}

i {
    color: white;
}

ul, li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    transform: none;
}

.nav-items:hover, #github-img:hover, #linkedin-img:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(122, 122, 122);
}

#github-img, #linkedin-img {
    color: rgb(180, 180, 180);
    transition: color 200ms ease-in-out, text-shadow 100ms ease-in;
}

.menu {
    display: none;
}

.menu div{
    width: 25px;
    height: 5px;
    background-color: rgb(180, 180, 180);
    margin: 2px;
    transition: all 0.3s ease;
}




@media screen and (max-width: 1089px) {
    .nav-list {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 5vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #161616;
        transform: translateX(100%);
        
    }

    .nav-list li{
        opacity: 0;
    }
    .nav-links li{
        opacity: 0;
        display: flex;
        padding: 0px;
        justify-content: start;
        align-items: center;
    }

    .menu {
        transform: translateX(50px);
        float: right;
        cursor: pointer;
        display:flex;
        flex-direction: column;
        align-items: center;

    }


    body {
       overflow-x: hidden;
    }

}


@keyframes menuFadeIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes menuFadeOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}


@keyframes navItemsFadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes introBarFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6.5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6.5px, -6px);
}
   


