/* Styling for the About Me Section*/
.about-me {
  margin-top: 20vh;
  height: 100vh;
  opacity: 0;
}

.about-me-box {
  top: 50%;
  left: 50%;
  transform: translate(25%, -30%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

#profile-pic {
  width: 257px;
  height: 222px;
  border-radius: 50%;
  border-color: #0c0c0c;
  border-style: solid;
  border-width: 1px;
}

.about-me-text {
  width: 60%;
}

@media screen and (max-width: 1089px) {
  .about-me {
    margin-top: 30vh;
    height: 100vh;
  }

  .about-me-box {
    top: 50%;
    left: 50%;
    transform: translate(20%, -20%);
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }

  #profile-pic {
    width: 167px;
    height: 132px;
    border-radius: 50%;
    border-color: #0c0c0c;
    border-style: solid;
  }

  .about-me-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    margin-top: 25vh;
    height: 120vh;
  }
}

@keyframes aboutMeFadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
