html {
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1f1f1f;
  overflow-x: clip;
  overflow-y: hidden;
}

h1 {
  color: whitesmoke;
  font-size: 38px;
}

h3 {
  color: whitesmoke;
  font-size: 27px;
}

p {
  color: whitesmoke;
  font-size: 20px;
}

section {
  min-height: 800px;
}

::selection {
  background-color: black;
  color: white;
}

.stop-scrolling {
  overflow: hidden;
}

#resume,
#game-trailer,
#input-header,
#sungha-jung {
  color: rgb(241, 213, 155);
  text-decoration: none;
}

#resume:visited,
#game-trailer:visited,
#sungha-jung:visited {
  text-decoration: none;
}

#skills-header,
#projects-header,
#contact-header {
  text-align: center;
}

@media screen and (max-width: 1089px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
  }

  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
}
